# Secrets
secrets/
 
# Python
__pycache__/
*.pyc
.venv/
venv/
 
# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
 
# Log
logs/*
!logs/.gitkeep
 
# Công cụ hỗ trợ có thể chứa dữ liệu output tạm
config/artists.csv.bak